---
- name: Deploy Application into EKS cluster
  hosts: localhost
  connection: local
  gather_facts: no
  
  tasks:
    - name: Apply Kubernetes Deployment
      command: kubectl apply -f {{ playbook_dir }}/k8s_deployment.yaml
      register: deployment_result
    
    - name: Show deployment result
      debug:
        var: deployment_result.stdout_lines
