---
- name: Deploy Application into EKS cluster
  hosts: localhost
  connection: local
  gather_facts: no
  tasks:

    - name: Apply Kubernetes Deployment
      ansible.builtin.command: kubectl apply -f Ansible/k8s_deployment.yaml
