name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      REGISTRY: docker.io
      IMAGE_NAME: snagineni03/myflaskapp
      IMAGE_TAG: ${{ github.run_number }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
  
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Run tests
      run: pytest

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: |
        docker build -t $REGISTRY/$IMAGE_NAME:$IMAGE_TAG .

    - name: Scan Docker Image with Trivy
      uses: aquasecurity/trivy-action@0.20.0
      with:
        image-ref: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
        severity: CRITICAL,HIGH
        ignore-unfixed: true

    - name: Push Docker image
      run: |
        docker push $REGISTRY/$IMAGE_NAME:$IMAGE_TAG

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Update K8s Deployment YAML
      run: |
        git config user.name "supriya nageneni"
        git config user.email "snageneni@gmail.com"

        sed -i "s|image:.*|image: $REGISTRY/$IMAGE_NAME:$IMAGE_TAG|g" Ansible/k8s_deployment.yaml

        git add Ansible/k8s_deployment.yaml
        git commit -m "Update image tag to $IMAGE_TAG [skip ci]"
        git push

    - name: Install Ansible and kubectl
      run: |
        sudo apt-get update
        sudo apt-get install -y ansible
        pip install kubernetes

    - name: Configure kubeconfig
      run: |
        mkdir -p $HOME/.kube
        echo "${{ secrets.KUBECONFIG_DATA }}" | base64 -d > $HOME/.kube/config
        chmod 600 $HOME/.kube/config

    - name: Verify cluster
      run: kubectl get nodes

    - name: Deploy to Kubernetes using Ansible
      run: |
        ansible-playbook Ansible/ansible_k8s_deploy_playbook.yaml
